header{
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

    & .logo{
        width: 12%;
    }

    & .logo img{
        width: 100%;
    }
}

ul{
    position: relative;
    display: flex;
    gap: 50px;
    list-style: none;

    & .icone {
        width: 20px;
        margin-right: 8px;
    }

    & li{
        display: flex;
        justify-content: center;
         align-items: center;
    }

    & li a{
        font-size: 18px;
        text-decoration: none;
        color: #000;
    }
}

@media screen and (max-width: 667px){
    header{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    header{
        display: none;
    }
}